@use 'base';

// .investmentContainer {
// 	max-height: 700px;
// 	overflow-y: scroll;
// 	padding-right: 1rem;
// } Uncomment one there is more than 5 listings

.card {
	display: flex;
	padding-top: 2rem;
	padding-bottom: 2rem;
	border-bottom: 1px solid base.$hks-blue;
}

.img {
	flex: 1 0 25%;
	position: relative;
}

.body {
	flex: 1 0 75%;
	padding-left: 2rem;

	p {
		font-size: 0.8rem;
		line-height: 1.6rem;
	}

	.description {
		margin-bottom: 1rem;
	}

	.cardBottom {
		display: flex;
		justify-content: space-between;

		.buttons {
			display: flex;
			gap: 1rem;
		}

		.highlights {
			display: flex;
			gap: 2rem;

			.highlight {
				padding-left: 1rem;
				border-left: 1px solid base.$hks-blue;

				p {
					line-height: normal;
				}

				.bold {
					font-weight: 700;
				}

				.volume {
					font-weight: 500;
					font-size: 1.4rem;
				}
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.investmentContainer {
		display: flex;
		flex-wrap: nowrap;
		gap: 2rem;
		width: 100%;
		overflow-x: scroll;
		overflow-y: hidden;
		padding-bottom: 2rem;
		max-height: fit-content;
		padding-right: 0;
	}

	.card {
		flex: 1 0 100%;
		display: flex;
		flex-direction: column;
		padding-top: 0;
		padding-bottom: 0;
		border-bottom: none;
	}

	.img {
		width: 100%;
		margin-bottom: 2rem;
	}

	.body {
		padding: 0;

		.cardBottom {
			display: block;
		}

		.highlights {
			display: none !important;
		}
	}
}
