@use 'base';

.section {
	background-image: url('/assets/line-left.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.container {
	display: flex;
	justify-content: space-between;
}

.title {
	color: white;
}

.description {
	width: 25%;
	text-align: right;
	color: white;

	p {
		font-size: 0.9rem;
		line-height: 1.8rem;
		margin-bottom: 3rem;
	}

	.filters {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin-bottom: 1rem;
	}

	.filter {
		display: flex;
		width: fit-content;
		cursor: pointer;

		h4 {
			margin-left: 1rem;
		}
	}
}

.transactions {
	width: 72%;
	// overflow: hidden;
}

.transactionsContainer {
	display: flex;
	justify-content: flex-start;
	column-gap: 2%;
	flex-wrap: wrap;
}

.transactionContainer {
	flex: 1 0 32%;
	margin-bottom: 2%;

	.img {
		width: 100%;
		display: block;
	}

	.imageContainer {
		position: relative;
		width: 100%;
	}

	.gradient {
		width: 100%;
		height: 20px;
		background-image: linear-gradient(
			to right,
			base.$hks-red,
			rgba(0, 0, 0, 0)
		);
		position: absolute;
		bottom: 0;
	}

	.body {
		background-color: white;
		padding: 1.5rem;
		min-height: 186px;

		.transactionTitle {
			font-weight: 600;
		}

		.transactionDetail {
			font-size: 0.8rem;
			line-height: 1.4rem;
			margin-top: 1rem;
		}
	}
}

@media screen and (max-width: 1280px) {
	.transactionsContainer {
		flex-wrap: nowrap;
		overflow-x: scroll;
		padding-bottom: 1rem;
	}

	.transactionContainer {
		flex: 1 0 40%;
	}
}

@media screen and (max-width: 1024px) {
	.transactionContainer {
		flex: 1 0 49%;
	}
}

@media screen and (max-width: 768px) {
	.transactionContainer {
		flex: 0 0 100%;
	}

	.description,
	.transactions {
		width: 100%;
	}

	// Left Side

	.text {
		display: none;
	}

	.container {
		flex-direction: column;
	}

	.filters {
		align-items: flex-start !important;
	}

	// Right Side
}
