@use 'base';

.section {
	background-image: url('/assets/line-right.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.title {
	color: white;
}

.teamSlider {
	display: flex;
	overflow-x: scroll;
	padding-bottom: 1.5rem;
}

.cardContainer {
	flex: 1 0 256px;
	margin-right: 20px;
}

.card {
	padding: 10px;
	background-color: white;
	min-height: 100%;

	h3 {
		margin-bottom: 10px;
		font-size: 1.5rem;
	}

	p {
		font-size: 0.9rem;
		line-height: 1.8rem;
	}

	.img {
		width: 100%;
		display: block;
	}

	.imageContainer {
		position: relative;
		width: 100%;
	}

	.cardText {
		padding: 20px;

		div {
			width: fit-content;
		}
	}
}

.redLine {
	position: absolute;
	right: -50%;
	height: 100%;
}

.modal {
	background-color: white;
	height: fit-content;
	min-height: 100%;
	width: 100%;
	position: relative;
	top: 0;
	padding: 2rem;
	overflow: scroll;
	display: flex;
	gap: 2rem;

	.closeButton {
		cursor: pointer;
		width: fit-content;
		position: absolute;
		right: 1rem;
		top: 1rem;
	}

	h3 {
		margin-bottom: 0;
	}

	p {
		font-size: 0.8rem;
		line-height: 1.4rem;
	}

	.modalImage {
		flex: 1 0 300px;
	}
}

@media screen and (max-width: 768px) {
	.cardContainer {
		flex: 0 0 100%;
	}

	.modalImage {
		display: none;
	}
}
